<?xml version="1.0"?>
<robot name="orion" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Materials defined ONCE here — do NOT include in sub-files -->
  <xacro:include filename="$(find orion_description)/xacro/materials.xacro"/>
  <xacro:include filename="$(find orion_description)/xacro/base.xacro"/>
  <xacro:include filename="$(find orion_description)/xacro/wheels.xacro"/>
  <xacro:include filename="$(find orion_description)/xacro/sensors.xacro"/>
  <xacro:include filename="$(find orion_description)/xacro/arm.xacro"/>

  <xacro:base/>
  <xacro:wheels/>
  <xacro:sensors/>
  <xacro:arm/>

</robot>
